In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Lets create a dataframe
col1 = np.ones(100)
col2 = np.zeros(100)
col2[:1] = 1
col3 = np.random.randint(15,30,size = 100)
col4 = np.ones(100)
col4[:40] = 0
col5 = np.zeros(100)
col5[:20] = 1
col6 = np.random.randint(30,40,size = 100)
col7 = np.ones(100)
col8 = np.zeros(100)
col8[:4] = 1

In [3]:
df = pd.DataFrame({"A":col1,"B":col2,"C":col3,"D":col4,"E":col5,"F":col6,"G":col7})

In [5]:
print(df)

      A    B   C    D    E   F    G
0   1.0  1.0  23  0.0  1.0  37  1.0
1   1.0  0.0  18  0.0  1.0  38  1.0
2   1.0  0.0  26  0.0  1.0  36  1.0
3   1.0  0.0  29  0.0  1.0  38  1.0
4   1.0  0.0  28  0.0  1.0  36  1.0
..  ...  ...  ..  ...  ...  ..  ...
95  1.0  0.0  25  1.0  0.0  35  1.0
96  1.0  0.0  25  1.0  0.0  30  1.0
97  1.0  0.0  24  1.0  0.0  37  1.0
98  1.0  0.0  21  1.0  0.0  31  1.0
99  1.0  0.0  27  1.0  0.0  34  1.0

[100 rows x 7 columns]

In [6]:
df.describe()

           A       B           C           D           E           F      G
count  100.0  100.00  100.000000  100.000000  100.000000  100.000000  100.0
mean     1.0    0.01   22.010000    0.600000    0.200000   34.640000    1.0
std      0.0    0.10    4.319313    0.492366    0.402015    2.746973    0.0
min      1.0    0.00   15.000000    0.000000    0.000000   30.000000    1.0
25%      1.0    0.00   18.000000    0.000000    0.000000   32.000000    1.0
50%      1.0    0.00   22.000000    1.000000    0.000000   35.000000    1.0
75%      1.0    0.00   26.000000    1.000000    0.000000   37.000000    1.0
max      1.0    1.00   29.000000    1.000000    1.000000   39.000000    1.0

In [7]:
df.var()

A     0.000000
B     0.010000
C    18.656465
D     0.242424
E     0.161616
F     7.545859
G     0.000000
dtype: float64

In [12]:
df_var=df.var().to_frame('Varience')
df_var

    Varience
A   0.000000
B   0.010000
C  18.656465
D   0.242424
E   0.161616
F   7.545859
G   0.000000

In [14]:
##Select those row number whose varience is less than 1% i.e 0.01
df_lessthan_1_percent=df.loc[:,df.var()<0.01]

In [15]:
df_lessthan_1_percent

      A    B    G
0   1.0  1.0  1.0
1   1.0  0.0  1.0
2   1.0  0.0  1.0
3   1.0  0.0  1.0
4   1.0  0.0  1.0
..  ...  ...  ...
95  1.0  0.0  1.0
96  1.0  0.0  1.0
97  1.0  0.0  1.0
98  1.0  0.0  1.0
99  1.0  0.0  1.0

[100 rows x 3 columns]

In [16]:
from sklearn.feature_selection import VarianceThreshold

var_threshold=VarianceThreshold(threshold=0.01)

In [17]:
var_threshold.fit(df)

VarianceThreshold(threshold=0.01)

In [18]:
var_threshold.get_support()

array([False, False,  True,  True,  True,  True, False])

In [19]:
#get col name whose varienence is greter than 0.01
df.columns[var_threshold.get_support()]

Index(['C', 'D', 'E', 'F'], dtype='object')

In [23]:
#get col name whose varienence is less than 0.01
selected_col=df_lessthan_1_percent.columns
selected_col

Index(['A', 'B', 'G'], dtype='object')

In [24]:
df.drop(labels=selected_col,axis=1,inplace=True)

In [25]:
df.head()

    C    D    E   F
0  23  0.0  1.0  37
1  18  0.0  1.0  38
2  26  0.0  1.0  36
3  29  0.0  1.0  38
4  28  0.0  1.0  36

In [26]:
df.var()

C    18.656465
D     0.242424
E     0.161616
F     7.545859
dtype: float64

In [27]:
df_output=var_threshold.transform(df)

C:\Users\User\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- A
- B
- G

  warnings.warn(message, FutureWarning)

ValueError: X has 4 features, but VarianceThreshold is expecting 7 features as input.


<h2>Feature Selection Method : Variance Threshold to remove the Constant Features</h2>

    1.Those features which contain constant values (only one value for all the outputs or target values) in the dataset.
    2.These features provide no information that allows ML models to predict the target.

threshold = 0

In [37]:
print(pd.__version__)

1.4.2