<a href="https://colab.research.google.com/github/farhad06/For-Practics/blob/main/NLP/RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

## findall() :
The findall() function returns a list containing all matches.

In [4]:
txt="Today's weather of kolkata is too foggy"
match_=re.findall('kolkata',txt)
print(match_)

['kolkata']

## search()
1. The search() function searches the string for a match, and returns a Match object if there is a match.
2.  If there is more than one match, only the first occurrence of the match will be returned:

In [9]:
txt="Today's weather of kolkata is too foggy than other day"
match_=re.search('oday',txt)
print(match_)

<re.Match object; span=(1, 5), match='oday'>

## split()
The split() function returns a list where the string has been split at each match:

In [10]:
txt="Today's weather of kolkata is too foggy than other day"
match_=re.split(' ',txt)
print(match_)

["Today's", 'weather', 'of', 'kolkata', 'is', 'too', 'foggy', 'than', 'other', 'day']

## sub()
The sub() function replaces the matches with the text of your choice:

In [38]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [39]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [12]:
##find a set of characters  using []
txt="Today's weather of kolkata is too foggy"
match_=re.findall('[a-m]',txt)
print(match_)

['d', 'a', 'e', 'a', 'h', 'e', 'f', 'k', 'l', 'k', 'a', 'a', 'i', 'f', 'g', 'g']

In [13]:
##find all decimal number in a string using \d
txt="I have to pay $40 on googlepay and $52.39 in  Phonepay"
match_=re.findall('\d',txt)
print(match_)

['4', '0', '5', '2', '3', '9']

In [16]:
#find all characters followed by another character
txt="Today's weather of kolkata is too foggy"
match_=re.findall('we...er',txt) # if re.findall('we..er',txt) it returns null list
print(match_)

['weather']

In [19]:
## Starts with a sentance using ^ 
txt="This is Kolkata"
match_=re.findall('^This',txt)
if match_:
  print("This sentence start with 'This'")
else:
  print("No match found")

This sentence start with 'This'

In [23]:
## Ends with a sentance using $ 
txt="This is Kolkata"
match_=re.findall('Kolkata$',txt)
if match_:
  print("This sentence Ends with 'Kolkata'")
else:
  print("No match found")

This sentence Ends with 'Kolkata'

In [24]:
#find all characters followed by 0 or more occurance using .*
txt="Today's weather of kolkata is too foggy"
match_=re.findall('we.*er',txt) 
print(match_)

['weather']

In [26]:
#find all characters followed by 1 or more occurance using .+
txt="Today's weather of kolkata is too foggy"
match_=re.findall('we.+er',txt) 
print(match_)

['weather']

In [27]:
#find all characters followed by 1 or more occurance using .?
txt="Today's weather of kolkata is too foggy"
match_=re.findall('we.?er',txt) 
print(match_)

[]

In [29]:
#find all characters followed by own spicification using .{no_of_element}
txt="Today's weather of kolkata is too foggy"
match_=re.findall('w.{2}r',txt) 
print(match_)

[]

In [31]:
#Match either or using |
txt="This is Kolkata"
match_=re.findall('Kolkata|Delhi',txt)
print(match_)
if match_:
  print("Ohh! there is one match")
else:
  print("No match found")

['Kolkata']
Ohh! there is one match

In [4]:
# \A--> Returns a match if the specified characters are at the beginning of the string
txt="This is Kolkata"
match_=re.findall('\Ais',txt)
print(match_)
if match_:
  print("Ohh! there is match")
else:
  print("No match found")

[]
No match found

In [5]:
#\b--> Returns a match where the specified characters are at the beginning or at the end of a word.
txt="This is Kolkata"
match_=re.findall('\bis',txt)
print(match_)
if match_:
  print("Ohh! there is match")
else:
  print("No match found")

[]
No match found

In [6]:
#\B--> Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word.
txt="This is Kolkata"
match_=re.findall('\Bis',txt)
print(match_)
if match_:
  print("Ohh! there is match")
else:
  print("No match found")

['is']
Ohh! there is match

In [7]:
#\d--> Returns a match where the string contains digits (numbers from 0-9)
txt="I have to pay $40 on googlepay and $52.39 in  Phonepay"
match_=re.findall('\d',txt)
print(match_)

['4', '0', '5', '2', '3', '9']

In [9]:
#\D-->Returns a match where the string DOES NOT contain digits
txt="I have to pay $40 on googlepay and $52.39 in  Phonepay"
match_=re.findall('\D',txt)
print(match_)

['I', ' ', 'h', 'a', 'v', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'y', ' ', '$', ' ', 'o', 'n', ' ', 'g', 'o', 'o', 'g', 'l', 'e', 'p', 'a', 'y', ' ', 'a', 'n', 'd', ' ', '$', '.', ' ', 'i', 'n', ' ', ' ', 'P', 'h', 'o', 'n', 'e', 'p', 'a', 'y']

In [12]:
#\s--> Returns a match where the string contains a white space character.
text="This is a Text."
match_=re.findall("\s",text)
print(match_)
print("----------------------------------------------")
text1="ThisisaText."
match_1=re.findall("\s",text1)
print(match_1)

[' ', ' ', ' ']
----------------------------------------------
[]

In [13]:
#\S--> Returns a match where the string DOES NOT contain a white space character.
text="This is a Text."
match_=re.findall("\S",text)
print(match_)
print("----------------------------------------------")
text1="ThisisaText."
match_1=re.findall("\S",text1)
print(match_1)

['T', 'h', 'i', 's', 'i', 's', 'a', 'T', 'e', 'x', 't', '.']
----------------------------------------------
['T', 'h', 'i', 's', 'i', 's', 'a', 'T', 'e', 'x', 't', '.']

In [15]:
#\w-->Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):
text="This is _ a Text."
match_=re.findall("\w",text)
print(match_)

['T', 'h', 'i', 's', 'i', 's', '_', 'a', 'T', 'e', 'x', 't']

In [16]:
#W--> Returns a match where the string DOES NOT contain any word characters
text="This is _ a Text."
match_=re.findall("\W",text)
print(match_)

[' ', ' ', ' ', ' ', '.']

In [19]:
#Z-->Returns a match if the specified characters are at the end of the string
text="This is _ a Text."
match_=re.findall(".\Z",text)
if match_:
  print("Match")
else:
  print("No Match")

Match

In [21]:
#[arn]--> 	Returns a match where one of the specified characters (a, r, or n) is present
text="This is a Text."
match_=re.findall("[hTt]",text)
print(match_)
if match_:
  print("Match")
else:
  print("No Match")

['T', 'h', 'T', 't']
Match

In [22]:
#[a-n]---> Returns a match for any lower case character, alphabetically between a and n
text="This is a Text."
match_=re.findall("[a-j]",text)
print(match_)
if match_:
  print("Match")
else:
  print("No Match")

['h', 'i', 'i', 'a', 'e']
Match

In [23]:
#[^arn]--> 	Returns a match for any character EXCEPT a, r, and n
text="This is a Text."
match_=re.findall("[^htT]",text)
print(match_)
if match_:
  print("Match")
else:
  print("No Match")

['i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'e', 'x', '.']
Match

In [24]:
#[0123]--> 	Returns a match where any of the specified digits (0, 1, 2, or 3) are present
number="My number is +91693274621"
match_number=re.findall("[0123]",number)
print(match_number)

['1', '3', '2', '2', '1']

In [27]:
#[0-9]--> 	Returns a match for any digit between 0 and 9
number="My number is +91693274621"
match_number=re.findall("[0-9]",number)
print(match_number)

['9', '1', '6', '9', '3', '2', '7', '4', '6', '2', '1']

In [29]:
#[0-5][0-9]--> 	Returns a match for any two-digit numbers from 00 and 59
number="Current time is 12:09 AM IST"
match_number=re.findall("[0-5][0-9]",number)
print(match_number)

['12', '09']

In [32]:
#[a-zA-Z]--> 	Returns a match for any character alphabetically between a and z, lower case OR upper case
number="Current time is 12:09 AM IST"
match_number=re.findall("[a-zA-Z]",number)
print(match_number)

['C', 'u', 'r', 'r', 'e', 'n', 't', 't', 'i', 'm', 'e', 'i', 's', 'A', 'M', 'I', 'S', 'T']

In [37]:
#[+]--> 	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string
number="My number is +91693274621"
match_number=re.findall("[+]",number)
print(match_number)
if match_number:
  print("+ Match")
else:
  print("+ not Match!!")  
print("--------------------------------------")  
match_number1=re.findall("[*]",number)
print(match_number1)
if match_number1:
  print("* Match")
else:
  print("* not match !!")

['+']
+ Match
--------------------------------------
[]
* not match !!