In [11]:
a,b=60,13
c=bin(a)
d=bin(b)
print(type(c))
print("Bit wise and operation is: ",bin(a&b))
print("Bit wise or operation is: ",bin(a|b))
print("Bit wise xor operation is: ",bin(a^b))
print("One's complement of first number is: ",bin(~a))
print(~a)

<class 'str'>
Bit wise and operation is:  0b1100
Bit wise or operation is:  0b111101
Bit wise xor operation is:  0b110001
One's complement of first number is:  -0b111101
-61

In [12]:
a=10
print(bin(a))
print(bin(a>>1))
print(a>>1)

0b1010
0b101
5

In [28]:
import random
print(random.randrange(1,100))

79

In [33]:
import random
print(random.random())

0.36978623833580326

In [34]:
import math
print(math.sin(60))
print(math.cos(60))
print(math.tan(60))

-0.3048106211022167
-0.9524129804151563
0.320040389379563

In [39]:
import math
print(math.degrees(math.pi/4))

45.0

In [50]:
var="Hello World"

print("Updated String is: \v"+var[:6]+"Python")

Updated String is: Hello Python

In [62]:
var="Hello world"
print('l' in var);print('l' not in var)
print(R'Hello World\nFarhad')

True
False
Hello World\nFarhad

In [65]:
print("My name is %s and weight is %d kg" %("Farhad Ahamed",65))

My name is Farhad Ahamed and weight is 65 kg

In [74]:
txt = "hello, and welcome to my world."
var="LOREM CAPSOLUE"
print(txt.capitalize())
print(txt.upper());print(var.lower())
print(txt.islower());print(txt.isupper())

Hello, and welcome to my world.
HELLO, AND WELCOME TO MY WORLD.
lorem capsolue
True
False

In [75]:
txt="Farhad"
var="Ahamed".join(txt)
print(var)

FAhamedaAhamedrAhamedhAhamedaAhamedd

In [83]:
txt = "Hello, welcome to my world."
print(txt.find("e"))
print(txt.index("e"))
print(txt.find("e",2))
x=min(txt)
print(x)
var="        Farhad                "
print(var)
print(var.strip())

1
1
8

        Farhad
Farhad

In [ ]:
col=df['location']
L=[]
count=0
for i in col:
        L.append(i)
for item in L:
    if item =='others':
        count+=1
print(count)