In [1]:
#1.
name=["Mr. azad","Ms. shahnaz","Ms. Bindiya","Mr. Yusuf","Mr. Parvez","Mr. Sk"]
boys=[]
girls=[]
for i in name:
    if i[:2]=="Mr":
        boys.append(i)
    elif i[:2]=="Ms":
        girls.append(i)
print("Boys list:")        
print(boys)
print("Girls list:") 
print(girls)

Boys list:
['Mr. azad', 'Mr. Yusuf', 'Mr. Parvez', 'Mr. Sk']
Girls list:
['Ms. shahnaz', 'Ms. Bindiya']

In [2]:
#2.
hall,bath,gard=250,360,361
l=[hall,bath,gard]
print("Hallroom=",l[0],"ft","Bathroom=",l[1],"ft","Garden=",l[2],"ft")

Hallroom= 250 ft Bathroom= 360 ft Garden= 361 ft

In [5]:
#3.
set1={1,2,3,4}
set2={4,5,6,7,8,9}
print("Union of these sets is: ", set1|set2)
print("Intersection of these sets is: ",set1&set2)
print("Difference from Set1 to Set2 is: ",set1-set2)
print("Difference from Set2 to Set1 is: ",set2-set1)
set1.clear()
set2.clear()

Union of these sets is:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection of these sets is:  {4}
Difference from Set1 to Set2 is:  {1, 2, 3}
Difference from Set2 to Set1 is:  {5, 6, 7, 8, 9}

In [9]:
#4.
num=[1,2,3,4,5,6,7,11,12,13]
n=int(input("Enter a number"))
if n not in num:
    print("Odd")
else:
    print("Even")

Enter a number8
Odd