In [1]:
#Q1
for i in range(1,11):
    if(i%2 !=0):
        squ=i**2
        print(squ)

1
9
25
49
81

In [3]:
#Q2.
n=int(input("Enter number "))
print("Multiplication Table is: ")
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter number 5
Multiplication Table is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [6]:
#Q4.
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [48]:
#Q5.
for i in range(1,6):
        n=input("Are you Tired? ")
        if n=="yes":
            print("You did not finish the race")
            break
        if n=="no" and i<5:
            continue
        else:    
            print("Congratulation!!!")

Are you Tired? yes
You did not finish the race

In [8]:
#Q6.
def calculate_area(base,height):
    area=(1/2)*base*height
    return area
b=int(input("Enter triangular base: "))
h=int(input("Enter triangular height: "))
print("Area of Triangular is: ",calculate_area(b,h))

Enter triangular base: 10
Enter triangular height: 20
Area of Triangular is:  100.0

In [11]:
#Q7.
def greater(a,b,c):
    if(a>b and a>c):
        return a
    if(b>a and b>c):
        return b
    if(c>a and c>b):
        return c
num1=int(input("Enter 1st number: "))
num2=int(input("Enter 2nd number: "))
num3=int(input("Enter 3rd number: "))
print("Gratest number among these numbers is: ",greater(num1,num2,num3))

Enter 1st number: 45
Enter 2nd number: 96
Enter 3rd number: 23
Gratest number among these numbers is:  96

In [16]:
#Q8.
def inches_to_cm(inches):
    cm=inches*2.54
    return cm
inc=float(input("Enter Inches: "))
print(inc,"inches =",inches_to_cm(inc),"cm")

Enter Inches: 10
10.0 inches = 25.4 cm

In [23]:
#Q9.
def is_leap(x):
    #leap=False
    if(x%4==0 and x%100!=0):
        return True
    elif(x%400==0):
        return True
    else:
        return False
year=int(input("Enter Year: "))
print(is_leap(year))

Enter Year: 2022
False

In [26]:
#Q10.
def percentage(mark1,mark2,mark3):
    per=((mark1+mark2+mark3)/300)*100
    return per
m1=int(input("Enter Marks1: "))
m2=int(input("Enter Marks2: "))
m3=int(input("Enter Marks3: "))
print("Percentage is: ",percentage(m1,m2,m3),"%")

Enter Marks1: 51
Enter Marks2: 52
Enter Marks3: 53
Percentage is:  52.0 %