In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [2]:
#create server connection
def create_server_connection(host_name,user_name,password_name):
    connection=None
    try:
        connection=mysql.connector.connect(
                host=host_name,
                user=user_name,
                password=password_name
        
        )
        print("MySQL Database connection successful.")
    except Error as err:
        print(f"Error: '{err}'")
    return connection    
        
pw='farhad'
db='mysql_python'
connection=create_server_connection('localhost','root',pw)

MySQL Database connection successful.

In [3]:
#create database
def create_database(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("Database Created Successful.")
    except Error as err:
        print(f"Error: '{err}'")
query ="create database mysql_python"
create_database(connection,query)

Database Created Successful.

In [7]:
def create_database_connection(host_name,user_name,user_password,db_name):
    connection=None
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            db=db_name
        )
        print("MySQL database connection successful.")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [5]:
def execute_query(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query Executed ")
    except Error as err:
         print(f"Error: '{err}'")

In [8]:
#create table
create_order_table="""
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quentity int,
unit_price float,
phone_number varchar(20));
"""
connection=create_database_connection('localhost','root',pw,db)
execute_query(connection,create_order_table)

MySQL database connection successful.
Query Executed

In [10]:
#insert data
data_orders="""
insert into orders values
(101,'Steve','Laptop','2018-06-12',2,800,'7744123245'),
(102,'Jos','Book','2020-07-31',10,12,'6233698746'),
(103,'Rohit','Shirt','2018-06-12',5,50,'7704413245'),
(104,'Farhad','T-Shirt','1998-06-12',7,30,'7744121145'),
(105,'Rahul','Headphone','2022-12-12',6,48,'9644125045'),
(106,'Sakil','Smart TV','2008-01-12',10,300,'9744123245');
"""
connection=create_database_connection('localhost','root',pw,db)
execute_query(connection,data_orders)

MySQL database connection successful.
Query Executed

In [14]:
#read data from table
def read_query(connection,query):
    cursor=connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [13]:
#1st approach to fetch data
connection=create_database_connection('localhost','root',pw,db)
cursor=connection.cursor()
cursor.execute("Select * from orders")
result=cursor.fetchall()
for x in result:
    print(x)

MySQL database connection successful.
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '7744123245')
(102, 'Jos', 'Book', datetime.date(2020, 7, 31), 10, 12.0, '6233698746')
(103, 'Rohit', 'Shirt', datetime.date(2018, 6, 12), 5, 50.0, '7704413245')
(104, 'Farhad', 'T-Shirt', datetime.date(1998, 6, 12), 7, 30.0, '7744121145')
(105, 'Rahul', 'Headphone', datetime.date(2022, 12, 12), 6, 48.0, '9644125045')
(106, 'Sakil', 'Smart TV', datetime.date(2008, 1, 12), 10, 300.0, '9744123245')

In [25]:
#2nd approach to fetch data 
fetch_all_data=""" select * from orders """
connection=create_database_connection('localhost','root',pw,db)
print()
result=read_query(connection,fetch_all_data)
for data in result:
    print(data)

MySQL database connection successful.

(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '7744123245')
(102, 'Jos', 'Book', datetime.date(2020, 7, 31), 10, 12.0, '6233698746')
(103, 'Rohit', 'Shirt', datetime.date(2018, 6, 12), 5, 50.0, '7704413245')
(104, 'Farhad', 'T-Shirt', datetime.date(1998, 6, 12), 7, 30.0, '7744121145')
(105, 'Rahul', 'Headphone', datetime.date(2022, 12, 12), 6, 48.0, '9644125045')
(106, 'Sakil', 'Smart TV', datetime.date(2008, 1, 12), 10, 300.0, '9744123245')
(107, 'Dipu', 'iPad', datetime.date(2023, 1, 23), 15, 30.0, '9700123245')

In [17]:
fetch_all_data=""" select customer_name,product_name,phone_number from orders """
connection=create_database_connection('localhost','root',pw,db)
print()
result=read_query(connection,fetch_all_data)
for data in result:
    print(data)

MySQL database connection successful.

('Steve', 'Laptop', '7744123245')
('Jos', 'Book', '6233698746')
('Rohit', 'Shirt', '7704413245')
('Farhad', 'T-Shirt', '7744121145')
('Rahul', 'Headphone', '9644125045')
('Sakil', 'Smart TV', '9744123245')

In [21]:
fetch_all_data=""" select * from orders """
connection=create_database_connection('localhost','root',pw,db)
result=read_query(connection,fetch_all_data)
full_db=[]
for data in result:
    data=list(data)
    full_db.append(data)
cols_names=['order_id','customer_name','product_name','date_ordered','quentity','unit_price','phone_number']
df=pd.DataFrame(full_db,columns=cols_names)

MySQL database connection successful.

In [22]:
df

,order_id,customer_name,product_name,date_ordered,quentity,unit_price,phone_number
0,101,Steve,Laptop,2018-06-12,2,800.0,7744123245
1,102,Jos,Book,2020-07-31,10,12.0,6233698746
2,103,Rohit,Shirt,2018-06-12,5,50.0,7704413245
3,104,Farhad,T-Shirt,1998-06-12,7,30.0,7744121145
4,105,Rahul,Headphone,2022-12-12,6,48.0,9644125045
5,106,Sakil,Smart TV,2008-01-12,10,300.0,9744123245
6,107,Dipu,iPad,2023-01-23,15,30.0,9700123245

In [23]:
df.shape

(7, 7)

In [24]:
df.dtypes

order_id           int64
customer_name     object
product_name      object
date_ordered      object
quentity           int64
unit_price       float64
phone_number      object
dtype: object