In [1]:
#size of tuple
import sys
t=('farhad','manoj','kolkata',1,2)
print("Size of the tuple is: ",sys.getsizeof(t),"bytes")

Size of the tuple is:  80 bytes

In [3]:
#min and max of a tuple
t=(10,20,52,45,125,456,321,145)
print("Minimum no is: ",min(t))
print("Maimum no is: ",max(t))

Minimum no is:  10
Maimum no is:  456

In [8]:
#adding tuple and vice versa
l1=[1,2,3,4,5,6]
t1=(10,12,13)
#add_tuple_in_to_list=str(l1)+str(t1)
l1+=t1
print("New added list is: ",str(l1))
print("-----------------------------------------------------------------------------")
l2=[10,25,9,6,45]
t2=(52,12,36)
new_tuple=tuple(list(t2)+l2)
print("New added tuple is: ",str(new_tuple))

New added list is:  [1, 2, 3, 4, 5, 6, 10, 12, 13]
-----------------------------------------------------------------------------
New added tuple is:  (52, 12, 36, 10, 25, 9, 6, 45)

In [ ]:
#closest pair to k-th element in to a list

In [9]:
#join two tuple
tup1=(1,2,3,4,5)
tup2=(6,7,8,9)
tup3=tup1+tup2
print("New Join Tuple is: ",tup3)

New Join Tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9)