In [1]:
import pandas as pd
import numpy as np

In [30]:
df=pd.read_csv("Attrition_yes.csv")

In [31]:
df.columns

Index(['EmployeeID', 'Age', 'Attrition', 'BusinessTravel', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'Gender', 'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance',
       'JobInvolvement', 'PerformanceRating'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               711 non-null    int64
 1   Age                      711 non-null    int64
 2   Attrition                711 non-null    object
 3   BusinessTravel           711 non-null    object
 4   Department               711 non-null    object
 5   DistanceFromHome         711 non-null    int64
 6   Education                711 non-null    int64
 7   EducationField           711 non-null    object
 8   EmployeeCount            711 non-null    int64
 9   Gender                   711 non-null    object
 10  JobLevel                 711 non-null    int64
 11  JobRole                  711 non-null    object
 12  MaritalStatus            711 non-null    object
 13  MonthlyIncome            711 non-null    int64
 14  NumCompaniesWorked       711 non-null    float64
 15  Over18                   711 non-null    object
 16  PercentSalaryHike        711 non-null    int64
 17  StandardHours            711 non-null    int64
 18  StockOptionLevel         711 non-null    int64
 19  TotalWorkingYears        711 non-null    float64
 20  TrainingTimesLastYear    711 non-null    int64
 21  YearsAtCompany           711 non-null    int64
 22  YearsSinceLastPromotion  711 non-null    int64
 23  YearsWithCurrManager     711 non-null    int64
 24  EnvironmentSatisfaction  711 non-null    float64
 25  JobSatisfaction          711 non-null    float64
 26  WorkLifeBalance          711 non-null    float64
 27  JobInvolvement           711 non-null    int64
 28  PerformanceRating        711 non-null    int64
dtypes: float64(5), int64(16), object(8)
memory usage: 161.2+ KB

In [28]:
df.head(1)

,EmployeeID,Age,BusinessTravel,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction
0,2,31,Travel_Frequently,10,1,Life Sciences,Female,1,Research Scientist,Single,41890,0,23,6,3,5,1,4,3,2

In [29]:
df.groupby(["Department"]).Department.count()

KeyError: 'Department'

In [21]:
df.loc[df["EmployeeID"]==39]

,EmployeeID,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
6,39,18,Yes,Travel_Rarely,Research & Development,1,4,Life Sciences,1,Male,...,0.0,3,0,0,0,3.0,3.0,3.0,2,3

In [24]:
df[df['MonthlyIncome'].EmployeeID==39]

SyntaxError: invalid syntax (Temp/ipykernel_9880/419429428.py, line 1)