In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("diabetes.csv")

In [4]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
0,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,a
1,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,b
2,6.0,148.0,72.0,35,0.0,33.6,0.627,50,1.0,a
3,1.0,89.0,66.0,23,94.0,28.1,0.167,21,0.0,b
4,0.0,137.0,40.0,35,168.0,43.1,2.288,33,1.0,a
...,...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48,180.0,32.9,0.171,63,0.0,NaN
764,2.0,122.0,70.0,27,0.0,36.8,0.340,27,0.0,NaN
765,5.0,121.0,72.0,23,112.0,26.2,0.245,30,0.0,NaN
766,1.0,126.0,60.0,0,0.0,30.1,0.349,47,1.0,NaN
767,1.0,93.0,70.0,31,0.0,30.4,0.315,23,0.0,NaN

In [5]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
0,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,a
1,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,b
2,6.0,148.0,72.0,35,0.0,33.6,0.627,50,1.0,a
3,1.0,89.0,66.0,23,94.0,28.1,0.167,21,0.0,b
4,0.0,137.0,40.0,35,168.0,43.1,2.288,33,1.0,a

In [6]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
763,10.0,101.0,76.0,48,180.0,32.9,0.171,63,0.0,NaN
764,2.0,122.0,70.0,27,0.0,36.8,0.340,27,0.0,NaN
765,5.0,121.0,72.0,23,112.0,26.2,0.245,30,0.0,NaN
766,1.0,126.0,60.0,0,0.0,30.1,0.349,47,1.0,NaN
767,1.0,93.0,70.0,31,0.0,30.4,0.315,23,0.0,NaN

## cleaning empty cell

In [7]:
new_df=df.dropna(inplace=True)

In [8]:
new_df

# replace empty values

In [9]:
df.fillna(120,inplace=True)

In [10]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
0,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,a
1,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,b
2,6.0,148.0,72.0,35,0.0,33.6,0.627,50,1.0,a
3,1.0,89.0,66.0,23,94.0,28.1,0.167,21,0.0,b
4,0.0,137.0,40.0,35,168.0,43.1,2.288,33,1.0,a
...,...,...,...,...,...,...,...,...,...,...
159,17.0,163.0,72.0,41,114.0,40.9,0.817,47,1.0,b
160,4.0,151.0,90.0,38,0.0,29.7,0.294,36,0.0,a
161,7.0,102.0,74.0,40,105.0,37.2,0.204,45,0.0,b
162,0.0,114.0,80.0,34,285.0,44.2,0.167,27,0.0,a
163,2.0,100.0,64.0,23,0.0,29.7,0.368,21,0.0,b

In [11]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome', 'name'],
      dtype='object')

In [12]:
df["name"].fillna("Rohit",inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
0,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,a
1,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,b
2,6.0,148.0,72.0,35,0.0,33.6,0.627,50,1.0,a
3,1.0,89.0,66.0,23,94.0,28.1,0.167,21,0.0,b
4,0.0,137.0,40.0,35,168.0,43.1,2.288,33,1.0,a
...,...,...,...,...,...,...,...,...,...,...
159,17.0,163.0,72.0,41,114.0,40.9,0.817,47,1.0,b
160,4.0,151.0,90.0,38,0.0,29.7,0.294,36,0.0,a
161,7.0,102.0,74.0,40,105.0,37.2,0.204,45,0.0,b
162,0.0,114.0,80.0,34,285.0,44.2,0.167,27,0.0,a
163,2.0,100.0,64.0,23,0.0,29.7,0.368,21,0.0,b

In [13]:
df.fillna(0).head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
0,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,a
1,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,b
2,6.0,148.0,72.0,35,0.0,33.6,0.627,50,1.0,a
3,1.0,89.0,66.0,23,94.0,28.1,0.167,21,0.0,b
4,0.0,137.0,40.0,35,168.0,43.1,2.288,33,1.0,a

In [14]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
159    False
160    False
161    False
162    False
163    False
Length: 159, dtype: bool

In [20]:
df.groupby("BMI").BMI.count()

BMI
0.0     5
19.1    1
19.4    1
19.6    1
19.9    1
       ..
48.8    1
49.7    1
50.0    1
53.2    1
55.0    1
Name: BMI, Length: 113, dtype: int64

In [21]:
df.agg["Glucose","BloodPressure","Age"]

TypeError: 'method' object is not subscriptable

In [23]:
df.tail().reset_index()

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
0,159,17.0,163.0,72.0,41,114.0,40.9,0.817,47,1.0,b
1,160,4.0,151.0,90.0,38,0.0,29.7,0.294,36,0.0,a
2,161,7.0,102.0,74.0,40,105.0,37.2,0.204,45,0.0,b
3,162,0.0,114.0,80.0,34,285.0,44.2,0.167,27,0.0,a
4,163,2.0,100.0,64.0,23,0.0,29.7,0.368,21,0.0,b

In [29]:
df["SkinThickness"].sort_values()

84      0
61      0
33      0
129     0
124     0
       ..
150    50
99     51
86     54
120    56
57     60
Name: SkinThickness, Length: 159, dtype: int64

In [30]:
df.sort_index()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,name
0,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,a
1,1.0,85.0,66.0,29,0.0,26.6,0.351,31,0.0,b
2,6.0,148.0,72.0,35,0.0,33.6,0.627,50,1.0,a
3,1.0,89.0,66.0,23,94.0,28.1,0.167,21,0.0,b
4,0.0,137.0,40.0,35,168.0,43.1,2.288,33,1.0,a
...,...,...,...,...,...,...,...,...,...,...
159,17.0,163.0,72.0,41,114.0,40.9,0.817,47,1.0,b
160,4.0,151.0,90.0,38,0.0,29.7,0.294,36,0.0,a
161,7.0,102.0,74.0,40,105.0,37.2,0.204,45,0.0,b
162,0.0,114.0,80.0,34,285.0,44.2,0.167,27,0.0,a
163,2.0,100.0,64.0,23,0.0,29.7,0.368,21,0.0,b

In [31]:
df.Age.dtype

dtype('int64')

In [33]:
df.Insulin.dtype

dtype('float64')