In [1]:
import pandas as pd

In [1]:
dict1={'1':123,'2':324}

In [2]:
print(dict1.keys())

dict_keys(['1', '2'])

In [ ]:
print(dict1.values())

In [ ]:
k=dict1.values()

In [ ]:
k

In [ ]:
list(k)

In [61]:
dict2={1:[123,143,243],2:[55,56,12],4:[55,56,25]}

In [2]:
data=pd.DataFrame(dict2.values(),columns=['std1','std2','std3'])

NameError: name 'dict2' is not defined

In [3]:
data

NameError: name 'data' is not defined

In [72]:
data.to_csv('data_file.csv')

In [77]:
data=pd.read_csv('data_file')

In [78]:
data

   Unnamed: 0  std1  std2  std3
0           0   123   143   243
1           1    55    56    12
2           2    55    56    25

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3 non-null      int64
 1   std1        3 non-null      int64
 2   std2        3 non-null      int64
 3   std3        3 non-null      int64
dtypes: int64(4)
memory usage: 224.0 bytes

In [80]:
data.describe()

       Unnamed: 0        std1        std2        std3
count         3.0    3.000000    3.000000    3.000000
mean          1.0   77.666667   85.000000   93.333333
std           1.0   39.259818   50.229473  129.778016
min           0.0   55.000000   56.000000   12.000000
25%           0.5   55.000000   56.000000   18.500000
50%           1.0   55.000000   56.000000   25.000000
75%           1.5   89.000000   99.500000  134.000000
max           2.0  123.000000  143.000000  243.000000

In [4]:
data=pd.read_csv('cars.csv',sep=';')

NameError: name 'pd' is not defined

In [87]:
data.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
6,Ford Galaxie 500,15.0,8,429.0,198.0,4341.,10.0,70,US
7,Chevrolet Impala,14.0,8,454.0,220.0,4354.,9.0,70,US
8,Plymouth Fury iii,14.0,8,440.0,215.0,4312.,8.5,70,US
9,Pontiac Catalina,14.0,8,455.0,225.0,4425.,10.0,70,US

In [3]:
data.tail()

NameError: name 'data' is not defined

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           407 non-null    object
 1   MPG           407 non-null    object
 2   Cylinders     407 non-null    object
 3   Displacement  407 non-null    object
 4   Horsepower    407 non-null    object
 5   Weight        407 non-null    object
 6   Acceleration  407 non-null    object
 7   Model         407 non-null    object
 8   Origin        407 non-null    object
dtypes: object(9)
memory usage: 28.7+ KB

In [90]:
data.describe()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
count,407,407,407,407,407,407,407,407,407
unique,309,131,6,84,95,357,98,14,4
top,Toyota Corolla,13.0,4,97.00,150.0,2130.,14.5,73,US
freq,9,20,207,22,22,4,23,40,254

In [95]:
data.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [104]:
data[['Car']].describe()

                   Car
count              407
unique             309
top     Toyota Corolla
freq                 9

In [117]:
data

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [125]:
data.iloc[5:10,2:6].reset_index(inplace=True) # data.iloc[:row,:column]